body{
	font-family: 'Open Sans', sans-serif;
}
.row {
    margin: 0 !important;
}
header nav#nav_f {
    background: transparent;
    box-shadow: none;
    line-height: unset;
}
header nav .brand-logo {
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
header nav .nav-wrapper {
    position: relative;
    height: 100%;
    padding: 29px 15px 0 52px;
    display: inline-block;
    width: 100%;
}
header nav .nav-wrapper ul.right.hide-on-med-and-down {
    margin: 10px auto;
}
header nav .nav-wrapper li {
    margin: 0 .6249343832020997vw;
}
header nav ul a {
    padding: 4px 0.774015748031495vw;
    font-size: 14px;
}
header .navbar-fixed.fixed .nav-wrapper {
    padding: 8px 15px 8px 52px;
    transition: all 0.3s;
    background: #7954b6;
}
header nav .nav-wrapper li a.active{
    background-color: transparent;
    border: 2px solid;
    border-radius: 50px;
}
header nav ul li:hover {
    background-color: transparent;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9;
}
header .container-fluid .main_menu ul li {
    display: inline;
    margin: 0 28.7px;
}
header .container-fluid {
    width: 100%;
   	padding: 38px 30px 0 41px;
}	
header .container-fluid .main_menu {
    text-align: right;
    padding: 0;
}

header .container-fluid .main_menu ul {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    margin: 6px auto;
}
header .container-fluid .main_menu ul li:first-child {
    margin: 0;
}
header .container-fluid .main_menu ul li:last-child {
    margin: 0;
}
header .container-fluid .main_menu ul li a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
}
header .container-fluid .main_menu ul li a.active {
    border: 2px solid;
    padding: 3px 14px;
    border-radius: 50px;
}
section.home {
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    position: relative;
}
section.home .container {
    padding: 35px 0 48px;
}
.home_mobile:before {
    background-image: url(../img/yun.png);
    background-repeat: no-repeat;
    background-position: left;
    content: "";
    position: absolute;
    left: 0;
    top: -5.293963vw;
    right: 0;
    bottom: 0;
    background-size: 58.4251968503937vw;
}
.home_mobile img {
    width: 100%;
    max-width: 29.23622vw;
}
.home_mobile {
    height: 38.00524934383202vw;
    overflow: hidden;
}
.home_mobile_content h1 {
    font-size: 2.6246719160104988vw;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.0446194225721785vw;
}
.home_mobile_content {
    padding: 7.296587926509186vw 2.3097112860892386vw;
}
.home_mobile_content {
    padding: 7.296587926509186vw 0 0 2.3097112860892386vw;
    width: 100%;
    max-width: 30.91863517060367vw;
}
.home_mobile_content h1 {
    font-size: 2.6246719160104988vw;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 3.0446194225721785vw;
}
.home_mobile_content p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    margin: 1.623097112860893vw auto 0.5249343832020997vw .26246719160104987vw;
    display: block;
    letter-spacing: 0.05249343832020997vw;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}
.home_mobile_content a {
    background: #7954b6;
    margin: 3.4645669291338583vw auto;
    display: inline-block;
    padding: 0.8398950131233596vw 2.204724409448819vw;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2px;
    position: relative;
}


.home_mobile_content:after {
    content: "";
    position: absolute;
    top: 17.32283464566929vw;
    bottom: 0;
    background-image: url(../img/gu.png);
    background-repeat: no-repeat;
    right: 45px;
    width: 17.32283464566929vw;
    background-size: contain;
    background-position: 0;
}

section.features .features_content {
    text-align: center;
    margin: 1.1023622047244095vw auto 4.3569553805774275vw;
}
.features_content h1 {
    font-size: 2.5196850393700787vw;
    font-weight: 300;
    color: #7954b6;
    letter-spacing: -.9px;
}
.features_content p {
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.05249343832020997vw;
    width: 100%;
    max-width: 763px;
    margin: 0 auto;
}

.features_left img{
	width: 100%;
}
section.features {
    margin: 1px auto;
}
section.features .container {
	width: 100% !important;
    max-width: 1535px;
}
.features_img_list {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}
.features_img_list img {
    width: 100%;
}
.features_img_content {
    display: inline-block;
    vertical-align: top;
    padding-left: 104px;
    width: 100%;
    max-width: 584px;
}
.features_img_content h3 {
    margin: 0px 0 1.1023622047244095vw 0;
    font-weight: 300;
    font-size: 24px;
    color: #7954b6;
}
.features_img_content p {
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    margin: 0px auto;
    color: #565656;
}
.features_img_content ul {
    padding: 15px 0 0 84px;
}
.features_right ul {
    padding: 54px 0 0 4.409448818897638vw;
}
.features_right ul li:first-child {
    margin-top: 0;
}
.features_right ul li:last-child {
    margin: 5.039370078740157vw auto 7.236745vw;
}
.features_right ul li:last-child .features_img_list {
    visibility: hidden;
}
.features_right ul li {
    margin: 2.599737532808399vw auto;
}
.features_img_content a {
    color: #dd4387;
    text-decoration: underline;
    transition: all .3s
}
.features_img_content a:hover {
    color: #7954b6;
}

section.about .container {
    width: 100% !important;
    max-width: 1180px;
}

section.about {
    background-image: url(../img/about_bg.jpg);
    color: #fff;
    background-size: cover;
    padding: 4.619422572178477vw 0 4.724409448818897vw;
}
section.about h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 300;
}
section.about p {
    padding: 23px 0 55px 0;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.6px;
    margin: 0;
    position: relative;
}
section.about .row:first-child {
    padding: 0 0 9.448818897637794vw 0;
}
section.about h3 {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
}
section.about .row:last-child {
    padding: 4.049606vw 0 0px 0;
}
.about_info p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid;
    width: 100%;
    max-width: 86px;
}
section.video {
    overflow: hidden;
    height: 34.4vw;
    position: relative;
}
section.video .container {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 47.8%;
    width: 100% !important;
    max-width: 1180px;
}
section.video .currentTime {
    display: inline-block;
    vertical-align: middle;
}
section.video .currentTime span {
    font-size: 18px;
    font-weight: 300;
}
section.video .totalTime {
    display: inline-block;
    vertical-align: middle;
}
section.video .totalTime span {
    font-size: 18px;
    font-weight: 300;
}

section.video .currentTime:after {
    content: "/";
    font-size: 18px;
    margin: 0 5px;
    font-weight: 300;
}

section.video div#video-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/play_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.11vw;
}
section.video div#video-overlay.active:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/pause_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.11vw;
}
section.video div#video-overlay {
    position: relative;
    background: #fff;
    width: 3.674540682414698vw;
    height: 3.674540682414698vw;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    cursor: pointer;
    transition: all .3s;
}
section.video div#video-overlay:hover {
    background: #eee;
}
section.video .video_content p {
    text-align: right;
    font-size: 18px;
    margin: 8px auto;
    font-weight: 300;
}
/*section.video #video {
    position: absolute;
    top: 0;
    left: 0;
}
section.video #video-overlay {
    position: absolute;
    top: 47.8%;
    left: 19.7%;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50px;
}
section.video #video-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/play_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
section.video .video_controls {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    left: 100px;
}*/
section.video video {
    width: 100%;
    height: 34.4vw;
    overflow: hidden;
    object-fit: cover;
}
section.screenshot {
    padding: 4.356955vw 0 5.54147vw 0;
    margin: 1px 0;
}
section.screenshot .container {
    width: 100% !important;
    max-width: 1180px;
}
section.screenshot h1 {
    font-weight: 300;
    font-size: 48px;
    color: #7954b6;
}
section.screenshot p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    color: #565656;
    line-height: 30px;
    margin: 0;
}
section.screenshot ul.present_screenshot {
    padding: 4.011811023622047vw 0 0 0;
}
section.screenshot ul.present_screenshot li {
    width: 100%;
    max-width: 420px;
    margin: 0 0 2.5196850393700787vw 0;
}
section.screenshot ul.present_screenshot li h3 {
    font-size: 24px;
    color: #7954b6;
}
.screenshot_slider img {
    width: 100%;
}
.screenshot_slider ul.slick-dots {
    width: auto;
    bottom: 40px;
    right: 100px;
}
.screenshot_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #7954b6;
}
.screenshot_slider .slick-slide {
    outline: none;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #e8e8e8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
section.pricing {
    padding: 0 0 6.54147vw 0;
}
.pricing_info {
    text-align: center;
    padding: 3.674540682414698vw 0;
}
.pricing_info h1 {
    font-size: 2.5196850393700787vw;
    font-weight: 300;
    color: #7954b6;
    letter-spacing: -.9px;
}
.pricing_info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    color: #565656;
    line-height: 30px;
    margin: 0;
    position: relative;
    padding: 0 0 2.5196850393700787vw 0;
}
.pricing_info p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid #dd4387;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

section.pricing .container {
    width: 100% !important;
    max-width: 1080px;
}
section.pricing .pricing_box {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 2.9921259842519685vw 1.574803149606299vw;
}
.main_pricing_box:first-child {
    padding-left: 0 !important;
}
.main_pricing_box {
    padding: 0 20px !important;
}
.main_pricing_box:last-child {
    padding-right: 0 !important;
}
.pricing_box h5 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 20px 0;
    color: #7954b6;
}
.pricing_title {
    text-align: center;
    color: #7954b6;
    margin: 0 0 20px 0;
}
.pricing_title span {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
}
.pricing_title h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 70px;
    margin: 0;
}
.pricing_title h6 {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: 300;
}
.pricing_listing {
    display: flex;
    justify-content: center;
}
.pricing_listing ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    color: #565656;
    line-height: 30px;
    margin: 0px 0 15px 0;
}
.pricing_listing ul li img {
    margin-right: 15px;
}
.pricing_btn {
    text-align: center;
}
.pricing_btn a {
    background: #7954b6;
    margin: 20px auto 0;
    display: inline-block;
    padding: 0.8398950131233596vw 2.504724vw;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2px;
}


section.client .container {
    width: 100% !important;
    max-width: 1080px;
}
.client_info {
    text-align: center;
    padding: 3.674540682414698vw 0 5.2vw;
}
.client_info h1 {
    font-size: 2.5196850393700787vw;
    font-weight: 300;
    color: #7954b6;
    letter-spacing: -.9px;
}
.client_info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    color: #565656;
    line-height: 30px;
    margin: 0;
    position: relative;
    padding: 0 0 2.5196850393700787vw 0;
}
.client_info p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid #dd4387;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}
.client_slider_info {
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 5px;
}
.client_top img {
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
    filter: grayscale(100%);
}
.client_name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}
.client_follow {
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.client_follow a {
    color: #565656;
    border: 1px solid;
    padding: 2px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 10px;
}
.client_slider_info .client_top {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #e6e6e6;
}
.client_slider_info .client_top .client_name h4 {
    margin: 0;
    font-size: 18px;
    color: #ababab;
    font-weight: 400;
}
.client_slider_info .client_top .client_name span {
    font-size: 14px;
    color: #ababab;
}
.client_slider_info .client_bottom p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 100%;
    color: #565656;
    line-height: 24px;
}
.client_slider_info .client_bottom span {
    color: #565656;
    font-size: 14px;
}
.client_bottom_images img {
    display: inline;
    width: 22px;
    margin: 15px 5px 0;
}
.client_slider .slick-slide {
    outline: none;
    margin: 3vw;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center {
    margin-top: 1.5vw;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info .client_top img {
    filter: unset;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info .client_top h4 {
    color: #7954b6;
    font-size: 24px;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info .client_follow a {
    color: #7954b6;
    font-size: 14px;
    transition: all .3s;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info .client_follow a:hover {
    color: #dd4387;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info .client_top img {
    max-width: 80px;
}
.client_slider .slick-slide.slick-current.slick-active.slick-center .client_slider_info {
    padding: 30px;
}
.client_slider button.slick-prev.slick-arrow {
    background-image: url(../img/left_arrow.png);
    left: 29.8%;
    z-index: 9;
    background-repeat: no-repeat;
    height: 2.7296587926509184vw;
    background-size: 2.7296587926509184vw;
    width: 2.7296587926509184vw;
    background-color: #fff;
}
.client_slider .slick-prev:before {
    content: '';
}
.client_slider button.slick-next.slick-arrow {
    background-image: url(../img/right_arrow.png);
    right: 29.8%;
    z-index: 9;
    background-repeat: no-repeat;
    height: 2.7296587926509184vw;
    background-size: 2.7296587926509184vw;
    width: 2.7296587926509184vw;
    background-color: #fff;
}
.client_slider .slick-next:before{
    content: '';
}
section.blog {
    margin: 1px auto;
}
.blog_info {
    text-align: center;
    padding: 2.6vw 0 6.549344vw 0;
}
.blog_info h1 {
    font-size: 2.5196850393700787vw;
    font-weight: 300;
    color: #7954b6;
    letter-spacing: -.9px;
}
.blog_info p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    color: #565656;
    line-height: 30px;
    margin: 0;
    position: relative;
    padding: 0 0 2.5196850393700787vw 0;
}
.blog_info p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid #dd4387;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.blog_section .blog_img img {
    width: 100%;
    height: 218px;
    overflow: hidden;
    object-fit: cover;
}
section.blog .container {
    width: 100% !important;
    max-width: 1080px;
}
.blog_section {
    border: 1px solid #eee;
}
.blog_section .blog_content {
    padding: 26px 20px 40px;
}
.blog_section .blog_content h4 {
    font-size: 18px;
    letter-spacing: 1.6px;
    margin: 0 0 16px 0;
    color: #7954b6;
}
.blog_section .blog_content span {
    color: #7954b6;
    font-size: 14px;
    letter-spacing: -.3px;
}
.blog_section .blog_content p {
    font-size: 13px;
    line-height: 27px;
    margin: 15px 0 15px 0;
}
.blog_section .blog_content a {
    padding: 3px 28px;
    border: 1px solid;
    border-radius: 50px;
    margin: 5px 0 0 0;
    display: inline-block;
    font-size: 14px;
    color: #7954b6;
    transition: all .3s;
}
.blog_section .blog_content a:hover {
    color: #dd4387;
}
section.download {
    background-image: url(../img/download_bg.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 7.716535433070866vw 0 0 0;
    text-align: center;
    padding: 4.934383202099737vw 0 6.249344vw 0;
}
section.download .download_info h2 {
    font-weight: 300;
    font-size: 48px;
    letter-spacing: -.5px;
    margin: 25px 0 30px 0;
}
section.download .download_info p {
    width: 100%;
    max-width: 671px;
    margin: 0 auto 4.986876640419947vw;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 30px;
    position: relative;
    padding: 0 0 2.6771653543307083vw 0;
}
section.download .download_info p:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid #dd4387;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}
.download_icons a {
    display: inline-block;
    vertical-align: middle;
    border: 2px solid;
    border-radius: 50px;
    color: #fff;
    margin: 0 25px;
    padding: 0.5249343832020997vw 2.6246719160104988vw;
    font-size: 24px;
}
.download_icons img {
    vertical-align: middle;
    margin-right: 24px;
    width: 100%;
    max-width: 32px;
}

.main_contact_info {
    background: #f2f2f6;
    width: 56.4% !important;
}
.main_contact_info .contact_info {
    padding: 4.424409448818897vw 2.9396325459317585vw 0 18.00524934383202vw;
}
.main_contact_info .contact_info h4 {
    margin: 10px 0 27px 0;
    font-size: 48px;
    color: #7954b6;
    font-weight: 300;
}
.main_contact_info .contact_info p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
}
.main_contact_info .contact_info .contact_listing {
    padding: 1.6797900262467191vw 0 0 7.454068241469816vw;
}
.main_contact_info .contact_info ul:first-child li {
    margin: 0 0 2.099737532808399vw 0;
}
.contact_info .contact_details {
    padding-left: 57px;
    color: #7954b6;
}
.contact_info .contact_icon {
    position: absolute;
}
.contact_info .contact_details a {
    font-size: 18px;
    color: #7954b6;
    margin-right: 5px;
    transition: all .3s;
}
.contact_info .contact_details a:hover {
    color: #dd4387;
}
.main_contact_info .contact_info .contact_listing ul.social_icon {
    padding-left: 57px;
    margin: 5.774278215223097vw 0 4.3569553805774275vw 0;
}
.main_contact_info .contact_info .contact_listing ul.social_icon li:first-child {
    margin-left: 0;
}
.main_contact_info .contact_info .contact_listing ul.social_icon li {
    display: inline-block;
    margin-right: 1.1548556430446193vw;
}
section.contact .row {
    margin-bottom: 0;
}
.contact_form form {
    padding: 8.418898vw 0 0 4.4619422572178475vw;
    max-width: 470px;
}
.contact_form form input[type="text"] {
    text-transform: capitalize;
    margin: 0 0 29px 0;
    font-size: 18px;
    height: 51px;
}
.contact_form form textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    height: 91px !important;
    font-size: 18px;
}
.contact_form button {
    margin: 25px 0 0 0;
    border: none;
    color: #fff;
    background: #8e5edd;
    border-radius: 50px;
    padding: 7px 57px;
    font-size: 18px;
}

@media only screen and (max-width: 1400px){
   section.home {
        background-size: 110vw;
    }
    .home_mobile {
        margin: 60px 0 0 0;
    }
    section.about {
        padding: 88px 0 30px;
    }
    section.about .container {
        padding: 0 30px;
    }
    section.about .row:first-child {
        padding: 0 0 80px 0;
    }
    section.pricing .container {
        padding: 0 30px;
    }
    section.screenshot {
        padding: 4.3569553805774275vw 30px 0;
    }
    section.video .container {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1199px){
   .home_mobile_content p {
        font-size: 16px;
        line-height: 24px;
    }
    .home_mobile_content a {
        font-size: 16px;
        margin: 15px 0;
    }
    .home_mobile_content h1 {
        margin-bottom: 0;
    }
    .client_slider .slick-slide.slick-current.slick-active.slick-center {
        margin-top: 0;
    }
    .screenshot_slider ul.slick-dots {
        right: 0;
        bottom: 20px;
    }
    .client_slider .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #7954b6;
    }
    .main_contact_info .contact_info {
        padding: 4.724409448818897vw 2.9396325459317585vw 0 10.00524934383202vw;
    }
    .main_contact_info .contact_info .contact_listing {
        padding: 1.6797900262467191vw 0 0 0;
    }
    .contact_form form {
        padding: 8.818897637795276vw 0 0 30px;
    }

}


@media only screen and (max-width: 992px){
    .col{
        float: none !important;
    }
    #sidenav-overlay {
        z-index: 1;
    }
     section.home {
        background-size: cover;
    }
    header nav .nav-wrapper a#logo-container {
        left: unset;
        right: 15px;
        top: 15px;
        transform: unset;
        bottom: unset;
        display: block;
    }
    header nav .nav-wrapper {
        padding: 2.5px 15px;
    }
    header .navbar-fixed.fixed .nav-wrapper {
        padding: 2.5px 15px;
    }
    .home_mobile_content {
        max-width: 100%;
        text-align: center;
    }
    .home_mobile {
        margin: 0;
        text-align: center;
        height: 100%;
    }
    .home_mobile img {
        max-width: 360px;
    }
    .home_mobile_content h1 {
        font-size: 26px;
        line-height: normal;
    }
    .home_mobile_content a {
        padding: 8px 30px;
        margin: 30px auto 0;
    }
    .features_content h1 {
        font-size: 26px;
        letter-spacing: normal;
        padding: 30px 0 0;
    }
    .features_content p {
        width: 100%;
        max-width: 520px;
        font-size: 16px;
        line-height: 24px;
    }
    .features_left {
        text-align: center;
    }
    .features_left img {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
        text-align: center;
    }
    .features_right {
        display: flex;
        justify-content: center;
    }
    .features_img_content p {
        line-height: 24px;
        font-size: 16px;
    }
    .features_right ul {
        padding: 30px 15px 0;
    }
    .features_img_content {
        padding-left: 70px;
    }
    .features_right ul li {
        margin: 25px auto;
    }
    .features_right ul li:last-child {
        margin: 0 0 40px 0;
    }
    .features_img_list img {
        max-width: 52px;
    }
    section.about .container{
        padding: 0 15px
    }
    section.about .row:first-child {
        padding: 0 0 15px 0;
    }
    section.about .row:last-child {
        padding: 0px 0 0px 0;
    }
    section.about p {
        padding: 30px 0;
    }
    section.about h1 {
        font-size: 32px;
    }
    section.screenshot ul.present_screenshot li {
        width: 100%;
        max-width: 100%;
        margin: 0 0 15px 0;
    }
    section.screenshot {
        padding: 0 15px 0;
    }
    section.screenshot .col {
        float: none;
    }
    .screenshot_slider img {
        width: 100%;
        max-width: 560px;
        margin: 0 auto;
    }
    section.about {
        padding: 48px 0 30px;
        text-align: center;
    }
    .about_info p:before {
        margin: 0 auto;
    }
    section.screenshot .container {
        max-width: 560px;
        text-align: center;
    }
    section.about .container {
        max-width: 560px;
    }
    .pricing_info {
        text-align: center;
        padding: 0 0 15px 0;
    }
    .pricing_info p {
        font-size: 16px;
        line-height: 24px;
        padding: 0 0 28px 0;
    }
    section.screenshot h1 {
        font-size: 32px;
        padding: 30px 0 0;
    }
    section.screenshot p {
        font-size: 16px;
        line-height: 24px;
    }
    section.screenshot ul.present_screenshot li h3 {
        font-size: 18px;
        line-height: 26px;
        margin: 15px auto;
    }
    .features_img_content h3 {
        margin: 0px 0 10px 0;
        font-size: 20px;
    }
    .screenshot_slider ul.slick-dots {
        bottom: 10px;
        right: 10px;
    }
    .pricing_info h1 {
        font-size: 26px;
        letter-spacing: normal;
        padding: 30px 0 0;
    }
    section.pricing .pricing_box {
        padding: 30px 15px;
        width: 100%;
        max-width: 560px;
        margin: 30px auto;
    }
    .main_pricing_box {
        padding: 0 0px !important;
    }
    .client_info h1 {
        font-size: 28px;
        letter-spacing: normal;
    }
    .client_info p {
        font-size: 16px;
        line-height: 24px;
        padding: 0 0 28px 0;
    }
    section.client {
        padding: 0 15px;
    }
    .blog_info h1 {
        font-size: 26px;
        letter-spacing: normal;
    }
    .blog_info p {
        font-size: 16px;
        line-height: 24px;
        padding: 0 0 28px 0;
    }
    .client_info {
        padding: 8.241469816272966vw 0 30px 0;
    }
    section.blog {
        padding: 0 15px;
        max-width: 560px;
        margin: 0 auto;
    }
    .blog_section .blog_img img {
        height: auto;
    }
    .blog_section {
        margin: 30px auto;
    }
    section.download .download_info h2 {
        font-size: 32px;
        letter-spacing: normal;
    }
    .download_icons a {
        padding: 10px 30px;
        font-size: 22px;
        display: block;
        width: 100%;
        max-width: 230px;
        margin: 15px auto;
    }
    .download_icons img {
        margin-right: 15px;
        max-width: 22px;
    }
    section.download .download_info p {
        letter-spacing: 1px;
        line-height: 24px;
        padding: 0 0 28px 0;
        margin: 0 auto 28px;
    }
    .main_contact_info {
        width: 100% !important;
    }
    .main_contact_info .contact_info {
        padding: 5vw;
    }
    .main_contact_info .contact_info h4 {
        margin: 10px 0 15px 0;
        font-size: 32px;
    }
    .main_contact_info .contact_info ul:first-child li {
        margin: 0 0 30px 0;
    }
    .main_contact_info .contact_info .contact_listing ul.social_icon {
        padding-left: 0;
    }
    .main_contact_info .contact_info ul:first-child li {
        margin: 0 0 30px 0;
    }
    .main_contact_info .contact_info .contact_listing ul.social_icon li {
        margin: 0 8px;
    }
    .main_contact_info .contact_info .contact_listing ul.social_icon li img {
        max-width: 26px;
    }
    .contact_form form {
        padding: 5vw;
        max-width: 100%;
    }
    .main_contact_info .contact_info p {
        font-size: 16px;
        letter-spacing: normal;
        line-height: 24px;
    }
    .contact_form form input[type="text"] {
        margin: 0 0 18px 0;
        font-size: 16px;
    }
    .contact_form form textarea.materialize-textarea {
        font-size: 16px;
    }
    .pricing_btn a {
        padding: 5px 25px;
        font-size: 16px;
    }
    .blog_section .blog_content h4 {
        font-size: 16px;
        letter-spacing: normal;
    }
    .features_right ul li:last-child .features_img_content {
        padding-left: 0;
        text-align: center;
    }
    header nav .nav-wrapper li{
        padding: 0;
    }
    header nav .nav-wrapper li a.active {
        background-color: rgba(0,0,0,0.1);
        border: none;
        border-radius: unset;
    }
    section.video .video_content p {
        text-align: left;
        font-size: 16px;
        list-style-type: 26px;
    }
    section.video div#video-overlay {
        width: 40px;
        height: 40px;
    }
    section.video div#video-overlay:before {
        background-size: 13px;
    }
    section.video div#video-overlay.active:before {
        background-size: 13px;
    }
    section.video .currentTime span {
        font-size: 16px;
    }
    section.video .totalTime span {
        font-size: 16px;
    }

    section.video .currentTime:after {
        font-size: 16px;
    }

}


@media only screen and (min-width: 993px){
	.container {
	    width: 66% !important;
	}
}

@media only screen and (max-width: 767px){
    .client_top img {
        max-width: 60px;
        filter: unset;
    }
    .client_slider_info .client_top .client_name h4 {
        color: #7954b6;
    }
    .client_follow a {
        color: #7954b6;
    }
    
}

@media only screen and (max-width: 600px){
    header .navbar-fixed.fixed .nav-wrapper {
        padding: 6.5px 15px;
    }
    header nav .nav-wrapper {
        padding: 6.5px 15px;
    }
    
    .client_follow {
        display: block;
        float: none;
        margin: 20px auto 0;
    }
    section.video {
        height: 70vw;
    }
    section.video video {
        height: 70vw;
    }
}
